<mat-toolbar>
    <img src="assets/img/logo.png" style="width: 3%;">

    <span style="padding-left: 5px;"> JS Bank</span>
    <span class="example-fill-remaining-space"> </span>


    <span> <h3  style="margin-left: 10px;">{{userCurrent.name}} </h3></span>
    <span style="width: 50px; margin-left: 10px;"> <img src="{{userCurrent.avatar}}" style="width: 100%;float: right;"></span>


</mat-toolbar>



<mat-drawer-container class="container">
    <mat-drawer mode="side" opened>
        <app-menu (emitItemSelected)="receiveItemMenu($event)"></app-menu>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>