/* You can add global styles to this file, and also import other style files */

body
{
    font-family: sans-serif;
}
html, body { height: 100%; }
body { margin: 0; }

.mat-toolbar {
    background: #15488c;
    color: #ffff;
}


mat-icon {
    vertical-align: middle;
}

.react-border{
    border: 2px blue dotted;
}

.angular-border{
    border: 2px red dotted;
}