<section class="wrapper">
    <div class="row card_row">
        <div style="margin-top: 50px;">
                <h1>Investimento</h1>
        <div class="column half_whole" style="    float: left;
          width: 49%;">

            <article class="card box_panel" >
                <section class="card_body session-card">
              <h2  style="text-align: center;">Poupança </h2>
                    <div class="graph">
                        <div class="knob_data">38<span class="txt_smaller">%</span></div>
                        <svg class="graph_media" version="1.1" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 266.4 266.4">
                            <g>
                                <path class="st0"
                                    d="M130.5,32.2V0c-53.3,1.1-99,33.5-119.3,79.6l30,11.8C56.7,57.3,90.7,33.3,130.5,32.2z" />
                                <path class="st1" d="M133.2,0c-0.9,0-1.8,0-2.7,0v32.2c0.9,0,1.8,0,2.7,0c55.8,0,101,45.2,101,101s-45.2,101-101,101
                        s-101-45.2-101-101c0-14.9,3.2-29,9-41.7l-30-11.8C4,96,0,114.1,0,133.2c0,73.6,59.6,133.2,133.2,133.2s133.2-59.6,133.2-133.2
                        S206.7,0,133.2,0z" />
                            </g>
                        </svg>
                    </div>
                </section>

            </article>
        </div>

        <div class="column half_whole" style="float: right;
          width: 49%;">
            <article class="card box_panel">
                <section class="card_body session-card">
                  <h2 style="text-align: center;">CDB </h2>
                    <div class="graph">
                        <div class="knob_data2">62<span class="txt_smaller">%</span></div>
                        <svg class="graph_media" version="1.1" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 266.4 266.4">
                            <g>
                                <path class="st0"
                                    d="M130.5,32.2V0c-53.3,1.1-99,33.5-119.3,79.6l30,11.8C56.7,57.3,90.7,33.3,130.5,32.2z" />
                                <path class="st2" d="M133.2,0c-0.9,0-1.8,0-2.7,0v32.2c0.9,0,1.8,0,2.7,0c55.8,0,101,45.2,101,101s-45.2,101-101,101
                            s-101-45.2-101-101c0-14.9,3.2-29,9-41.7l-30-11.8C4,96,0,114.1,0,133.2c0,73.6,59.6,133.2,133.2,133.2s133.2-59.6,133.2-133.2
                            S206.7,0,133.2,0z" />
                            </g>
                        </svg>
                    </div>
                </section>

            </article>
        </div>
        </div>



    </div>
</section>